body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f0f0f0;
}

h1, h2 {
    text-align: center;
}

input[type="text"], button {
    padding: 8px;
    margin: 5px;
    width: calc(50% - 18px);
}

button {
    cursor: pointer;
}

.word-list-container {
    display: flex;
    justify-content: space-between;
}

.word-list-container ul {
    list-style-type: none;
    padding: 0;
    width: 48%;
}

.word-list-container ul li {
    margin: 5px 0;
    background-color: #e0e0e0;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.word-list-container ul li button {
    margin-left: 10px;
}
